@import '../../index.scss';

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  .dashboard__main {
    display: flex;

  }
}

.dashboard__navbar {
  width: 100%;
  border-bottom: 0.7px solid #DCE2EA;
  padding: 9px 53px 0;
  // 68.19%
  // 31.81%
}
.dashboard__board {
  width: 68.19%;
  padding: 17px 0 37px 60px;
  .dashboard__board__main {
    width: 100%;
    height: 100%;
    border: 1px solid #DDE1E3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 59px 112px;
    .dashboard__board__logo {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 48px;
      h3 {
        border: 1px solid #FCB6C0;
        padding: 3px;
        border-radius: 50%;
        p{
          background: #FEE7EA;
          font-weight: 500;
          font-size: 24px;
          line-height: 33px;
          letter-spacing: -0.5px;
          color: $primaryBackground;
          padding: 14px 15px 15px 13px;
          border-radius: 50%;
        }
      }
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 37px;
        letter-spacing: -0.2px;
        color: $primaryBold;
      }
    }
    span {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .board__names {
      margin-top: 24px;
      margin-bottom: 337px;
    }
  }
}

.dashboard__alert {
  width: 31.81%;
  height: 100%;
  padding: 17px 43px 37px 40px;
  .dashboard__alert__body {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    border-radius: 12px;
    padding: 81px 24px;
    justify-content: center;
    align-items: center;
    .dashboard__alert__header {
      width: 141px;
      display: flex;
      align-items: flex-start;
      background: #FEEBEE;
      border-radius: 30px;
      color: $primaryAlert;
      gap: 6.08px;
      padding: 6px 16px;
      margin-bottom: 56px;
      margin-right: 210px;
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: $primaryAlert;
      }
    }
    .dashboard__alert__section {
      background: #FFFFFF;
      border: 0.8px solid #EBEBEB;
      border-radius: 10px;
      height: 207px;
      gap: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 48px 0 24px;
      width: 327px;
      height: 207px;
      span {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        .dash__img {
          background: #F4F5F5;
          border-radius: 6px;
          padding: 4px 10px;
        }
        .dash__dashes {
          display: flex;
          flex-direction: column;
          gap: 4px;
          width: 100%;
          p {
            width: 68.04%;
            height: 14px;
            background: #F5F5F5;
            border-radius: 4px;
          }
          .long__dashes {
            width: 100%;
          }
        }
      }
    }
  }
  .dashboard__alert__footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    text-align: center;
    width: 307px;
    margin-bottom: 150px;
  }
}